<!DOCTYPE html>
<!-- 
TEAM NAME
SoftDev
K12 -- Making a form using templates and the difference between post and get
2022-10-17
time spent: 1 hour
 -->


<html>

  <head>
    <title> LOGIN </title>
  </head>

  <body>
    <h1>
       TEAM NAME's Form
    </h1>
        Roster: James Yu, Jun Hong Wang, Thomas Zhang
        <br>

    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/auth" method="post">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>