<!DOCTYPE html>
<!-- 
TEAM NAME
SoftDev
K12 -- Making a form using templates and the difference between post and get
2022-10-17
time spent: 1 hour
  -->


<html>
  <title>RESPONSE</title>
  <h1>TEAM NAME</h1>
  Roster: James Yu, Jun Hong Wang, Thomas Zhang
  <br><br>
  <h3>
      GET VS POST
  </h3>
  Get requests request data while post requests sends data.
  Get displays the username (input) in the url like this: /auth?username=a&sub1=Submit.
  Post doesn't have the username in the url, it is just /auth. 
  It also has a resubmit popup everytime you refresh the page.
  Get requests are stored in the browser's history while post requests are not.
  <br>
  <br>
</html>